* 
{ 
	margin: 0px; 
	padding: 0px; 
} 

html 
{ 
	min-height: 100%; 
}

body 
{ 
	text-align: center; 
	font-family: arial, verdana, sans-serif; 
	font-size: 12px; 
	color: #333; 
	background:white url(../images/bg_page.gif) no-repeat 50% 0; 
	line-height:18px; 
}

p, h1, h2, h3, ol, ul, dl 
{ 
	padding:2px 6px 8px; 
}

h1, h2, h3, ol, ul, dl 
{ 
	padding:8px 6px 3px; 
}

table, th, td 
{ 
	font-family: arial, verdana, sans-serif; 
	font-size: 12px; 
	color: #333; 
}

ol, ul, dir, menu, dd
{ 
	margin-left: 40px
}

ol
{ 
	list-style-type: decimal 
}

ol ul, ul ol, ul ul, ol ol    		
{ 
	margin-top: 0; 
	margin-bottom: 0 
}

blockquote 
{ 
	width:80%; 
	margin:10px auto; 
	padding:0 26px;  
	background:#FFF url(../images/bg_blockquote_side.gif) no-repeat 0 50%; 
}

#skip 				
{ 
	display: none; 
}

a img, :link img, :visited img 
{ 
	border: none; 
}

img 				
{ 
	display: block; 
}

a:link 				
{ 
	color: #C74848; 
	text-decoration: underline; 
}

a:visited 			
{ 
	color: #333; 
	text-decoration: underline; 
}

a:hover, a:active 	
{ 
	color: #DB7C7C; 
}

.alignright		
{ 
	text-align: right !important; 
}

.floatright		
{ 
	float: right; 
}

.inline			
{ 
	display: inline; 
}

.clear	
{ 
	clear: both;
}

.clearfix:after 
{ 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
} 

.clearfix 		
{ 
	display:inline-block; 
} 

/* .clearfix 
{ 
	display:block; 
} */ 

h1		
{ 
	font-size: 20px; 
	line-height: 18px;  
	}

h2 		
{ 
	font-size:18px; 
}

h3		
{ 
	font-size: 16px; 
	color: #666; 
}

#wrapper 		
{ 
	width:760px; 
	margin:0 auto; 
}

#header 		
{ 
	position:relative; 
	display:block; 
	width:760px; 
	height:102px; 
	background:#FFF url(../images/bg_header.gif) repeat-x; 
}

#header .logo 	
{ 
	position:absolute; 
	left:30px; 
	top:15px; 
}

#nav 			
{ 
	display:block; 
	width:760px; 
	height:26px; 
	margin:0; 
	padding:0; 
	list-style:none; 
	text-align:center; 
	background:#A13D3D url(../images/bg_nav.gif) repeat-x; 
}

#nav li 		
{ 
	float:right; 
	width:90px;  
}

#nav li a 		
{ 
	text-decoration:none; 
	display:block; 
	padding:0; 
	padding:0; 
	height:1%; 
	line-height:26px; 
	color:#FFF; 
}

#nav li.on 		
{ 
	display:block; 
	padding:0; 
	width:120px; 
	height:26px; 
	line-height:26px; 
	background:url(../images/bg_nav_on_2.gif) no-repeat 50% 0; 
	color:#EFEFEF; 
}

#nav li a:hover 
{ 
	background:url(../images/bg_nav_on.gif) no-repeat 50% 0; 
}

#content 
{ 
	width:740px; 
	padding:50px 10px 0; 
	min-height:543px; 
	background:#FFF url(../images/bg_content.gif) no-repeat 0 0; text-align:left;  
}

* html #content, * html #content #col_1 
{ 
	height:543px; 
}

#content #col_1 
{ 
	width:20%; 
	float:left; 
	min-height:543px; 
	background:url(../images/bg_left.gif) no-repeat 100% 50%; 
}

#content #col_1 h2 
{ 
	color:#999999; 
	font-size:14px; 
	font-weight:normal; 
}

#subnav, #subnav ul 
{ 
	margin:0; 
	padding:0; 
	list-style:none; 
}

#subnav li 
{ 
}

#subnav li a 
{ 
	display:block; 
	padding:5px 10px 5px 10px; 
	height:1%; 
	background:url(../images/bg_subnav.gif) no-repeat 100% 100%; 
	text-decoration:none 
}

#subnav li a:hover 
{ 
	
	background:#ccc9c8 url(../images/bg_left_nav_on.gif) no-repeat 100% 0; 
	text-decoration:none; 
}

#content #col_2 
{ 
	width:80%; 
	float:left; 
}

#footer 
{ 
	display:block; 
	width:680px; 
	padding: 5px 10px; 
	margin:0 auto; 
	background:#ccc9c8; 
	-moz-border-radius:3px; 
}

#footer small 
{  
}

.t_form 
{ 
	margin:20px; 
}

.t_form th 
{ 
	background:#efefef; 
}

.t_form td, .t_form th 
{ 
	padding:5px; 
	border-bottom:1px solid #666; 
}
